<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        {{request}}
    </p>
    
    <table>
        <tr>
            <th>
                Dog Type
            </th>>
            <th>
                Dog Name
            </th>
        </tr>
        {% for dog in dogs %}
        <tr>
            <th>{{dog.type}}</th>
            <th>{{dog.name}}</th>
        </tr>
        {%endfor%}
    </table>
</body>
</html>