<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Stock Sentiment</h1>
        <canvas id="myChart2"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
    <script>
        const ctx2 = document.getElementById('myChart2');
        new Chart(ctx2, {
            type: 'line',
            options: {
                legend: {
                    display: false,
                    labels: {
                        display: false
                    }
                }
            },
            data: {
                labels:{{xlabel}},
                datasets: [
                    {%for y,ylabel in yzip%}
                    {
                        label:'{{ylabel}}',
                        data: {{y}} 
                    },
                    {%endfor%}
                    ]
                
            }
            
        });
    </script>
    <div>
        
        <h1>{{name}}</h1>
        <table class="table">
            <tr>
                <td>Ticker</td>
                <td>Title</td>
                <td>Related Tickers</td>
                <td>Score</td>
                <td>Stock Price</td>
                <td>Published Time</td>
            </tr>
            {%for i in dictdata%}
            <tr>
                    <td>{{i[0].ticker}}</td>
                    <td>{{i[0].title }}</td>
                    <td>{{i[0].relatedTickers}}</td>
                    <td>{{i[1].compound}}</td>
                    <td>{{i[2].price}}</td>
                    <td>{{i[0].providerPublishTime}}</td>
            </tr>
            {%endfor%}
        </table>

        <form action="/stocks/" method="post">
            <label for="ticker">Ticker</label><br>
            <input type="text" id="ticker" name="ticker"><br><br>
            <input type="submit" value="stocks">
        </form>
    </div>
    

    <form action="/stocks/gen_path" method="post">
        <label for="X0">X0</label><br>
        <input type="number" id="X0" name="X0"><br><br>
        <label for="theta">theta</label><br>
        <input type="number" id="theta" name="theta"><br><br>
        <label for="mu">mu</label><br>
        <input type="number" id="mu" name="mu"><br><br>
        <label for="sigma">sigma</label><br>
        <input type="number" id="sigma" name="sigma"><br><br>
        <label for="T">time</label><br>
        <input type="number" id="T" name="T"><br><br>
        <label for="num_steps">number of steps</label><br>
        <input type="number" id="num_steps" name="num_steps"><br><br>
        <label for="num_sims">number of simulations</label><br>
        <input type="number" id="num_sims" name="num_sims"><br><br>
        <input type="submit" value="gen_path">
    </form>

</body>
</html>