<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        
        <h1>{{name}}</h1>
        <table class="table">
            <tr>
                <td>Title</td>
                <td>Related Tickers</td>
                <td>Score</td>
                <td>Stock Price</td>
                <td>Published Time</td>
            </tr>
            {%for i in dictdata%}
            <tr>
                    <td>{{i[0].title }}</td>
                    <td>{{i[0].relatedTickers}}</td>
                    <td>{{i[1].compound}}</td>
                    <td>{{i[2].price}}</td>
                    <td>{{i[0].providerPublishTime}}</td>
            </tr>
            {%endfor%}
        </table>

        <form action="/stocks" method="post">
            <label for="refresh">Refresh Data</label>
            <input type="text" id="ticker" name="ticker"><br><br>
            <input type="submit" value="Refresh">
        </form>
    </div>
    

</body>
</html>