<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Vasicek Simulation</h1>
        <canvas id="myChart"></canvas>
        <canvas id="myChart2"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
    <script>
        Chart.defaults.plugins.legend.display = true;
        const ctx = document.getElementById('myChart');
        const xValues = {{x}};
        const yValues = [7,8,8,9,9,9,10,11,14,14,15];
        new Chart(ctx, {
            type: 'line',
            options: {
                legend: {
                    display: false,
                    labels: {
                        display: false
                    }
                }
            },
            data: {
                labels: xValues,
                
                datasets: [
                    {%for i in y%}
                    {data: {{i}} },
                    {%endfor%}
                    ]
                
            }
            
        });
    </script>

    <script>
        const ctx2 = document.getElementById('myChart2');
        new Chart(ctx2, {
            type: 'line',
            options: {
                legend: {
                    display: false,
                    labels: {
                        display: false
                    }
                }
            },
            data: {
                labels:{{xlabel}},
                datasets: [
                    {%for y,ylabel in yzip%}
                    {
                        label:'{{ylabel}}',
                        data: {{y}} 
                    },
                    {%endfor%}
                    ]
                
            }
            
        });
    </script>
    <div>
        

        <form action="/stocks/gen_path" method="post">
            <label for="X0">X0</label><br>
            <input type="number" id="X0" name="X0" step="any" value=.1><br><br>
            <label for="theta">theta</label><br>
            <input type="number" id="theta" name="theta" step="any" value=.1><br><br>
            <label for="mu">mu</label><br>
            <input type="number" id="mu" name="mu" step="any" value=.1><br><br>
            <label for="sigma">sigma</label><br>
            <input type="number" id="sigma" name="sigma" step="any" value=.1><br><br>
            <label for="T">time</label><br>
            <input type="number" id="T" name="T" step="any" value=1><br><br>
            <label for="num_steps">number of steps</label><br>
            <input type="number" id="num_steps" name="num_steps" step="any" value=5><br><br>
            <label for="num_sims">number of simulations</label><br>
            <input type="number" id="num_sims" name="num_sims" step="any" value=5><br><br>
            <input type="submit" value="gen_path">
        </form>
      
    </div>
    

</body>
</html>